<!DOCTYPE html>
<html>
<head>
  <title>EDIT LIBRARY</title>
</head>
<body>
  <h1>Edit Your Library</h1>

  <form>
    Title: <input type="text" name="title" value="<%=library.title%>">
    author: <input type="text" name="author" value="<%=library.author%>">
    publishDate: <input type="text" name="publish date" value="library.publishDate">
    ISBN: <input type="text" name="ISBN">
    currentlyReading: <input type="checkbox" name=" currently reading"
    <% if(library.currentlyReading === true){%>
    checked
    <%}%>
    >
    read: <input type="checkbox" name="read"<% if(library.read === true){%>
    checked
    <%}%>
    >
    <br>
    <input type="submit" name="Submit Changes">

  </form>

</body>
</html>