<!DOCTYPE html>
<html>
<head>
  <title>My Library</title>
</head>
<body>
  <h1>Books In My Library</h1>
  <ul>

  <% for (var i = 0; i < library.length; i++) { -%>
    <li>  
      <a href="/library/<%=i%>"><%=library[i].title; %></a>.
        
    <% } -%>

    </li>
  </ul>
<nav>
  <a href="/library/new">Add a new book</a>
</nav>
</body>
</html>