<!DOCTYPE html>
<html>
<head>
  <title>NEW BOOK</title>
</head>
<body>
  <h1>Add A New Book To Your Collecion</h1>

  <form action='fruits' method='POST'>
    Title: <input type="text" name="Aitle"><br>
    author: <input type="text" name="Author">
    Publish Date: <input type="text" name="Publish Date">
    ISBN:<input type="text" name="ISBN">
    read:<input type="checkbox" name="Read">
    <input type="submit">

  </form>

</body>
</html>